
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="/jquery.maskedinput.js")
        script(src="/jquery.maskedinput.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        title ЭкспертПро
    body
        include header/header.pug
        include about/about.pug
        include feedback/feedback.pug
        script(src="app.js")