.about-block
    .content
        .about-block__inner.flex
            .about-block__info
                h3 КАЧЕСТВЕННОЕ ПРОВЕДЕНИЕ
                h1 НЕЗАВИСИМЫХ ЭКСПЕРТИЗ
                h3 НА ЛЮБОМ ЭТАПЕ ЮРИДИЧЕСКОГО СПОРА
                .info__order
                    ul
                        li до суда
                        li на суде
                        li рецензирование заключений
                    button.btn#scroll Заказать экспертизу
            .about-block__person.flex
                img(src="../img/Абанеев Никита.svg", alt="")
                .person__info
                    .info__fio 
                        p Абанеев Никита Юрьевич
                    .info__profi
                        p Управляющий партнер, <br> ведущий эксперт-землеустроитель,<br> эксперт-строитель
                    