@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
h1, h2, h3, h4, p {
  margin: 0;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.about-block {
  background-color: #1F090E;
  width: 100%;
}
.about-block .content {
  padding: 22px 0 0 269px;
}