
.feedback-block
    .content
        .feedback-block__inner
            .feedback-block__info
                h3 90% ВСЕХ СТРОИТЕЛЬНЫХ И ЗЕМЕЛЬНЫХ КОНТРАКТОВ <br> ЗАКАНЧИВАЮТСЯ СПОРАМИ, РАЗРЕШИТЬ КОТОРЫЕ ПОЗВОЛЯЕТ
                .feedback-block__title.flex
                    h1  ЭКСПЕРТИЗА
                    .feedback-block__subtitle
                        p От качества ее проведения и от экспертности <br> компании-исполнителя будет зависеть результа
            .feedback-block__form.flex.formwrap
                .feedback-block__form__works
                    .feedback-block__work.flex
                        .work
                            img(src="../img/Строительная.svg", alt="")
                            p СТРОИТЕЛЬНО-ТЕХНИЧЕСКАЯ
                        .ellipse.flex
                            img(src="../img/Ellipse 2 copy.svg", alt="")
                            img.rest(src="../img/Rectangle 6.svg", alt="")
                            img(src="../img/Ellipse 2.svg", alt="")
                    .feedback-block__work2.flex
                        .work
                            img(src="../img/Землеустроительная.svg", alt="")
                            p ЗЕМЛЕУСТРОИТЕЛЬНАЯ
                        .ellipse.flex
                            img(src="../img/Ellipse 2 copy.svg", alt="")
                            img.rest(src="../img/Rectangle 6 copy.svg", alt="")
                            img(src="../img/Ellipse 2.svg", alt="")
                    .feedback-block__work3.flex
                        .work
                            img(src="../img/Оценочная.svg", alt="")
                            p ОЦЕНОЧНАЯ
                        .ellipse.flex
                            img(src="../img/Ellipse 2 copy.svg", alt="")
                            img.rest(src="../img/Rectangle 6.svg", alt="")
                            img(src="../img/Ellipse 2.svg", alt="")
                .feedback-block__form__feedback.flex
                    img.circle(src="../img/3_4_круг.svg", alt="")
                    form(action="")
                        h6 В некоторых случаях вы можете <span> ПОЛУЧИТЬ ПРЕДВАРИТЕЛЬНУЮ ОЦЕНКУ </span> вашей ситуации у эксперта
                        h5 Имя
                        input(type="text", name="")
                        h5 Телефон 
                            span (Обязательно)
                        input(type="text", name="" id="phone1")
                        h5 Email 
                            span (Обязательно)
                        input(type="email", name="")
                        button.btn Получить оценку
                        p *Гарантия конфиденциальности.
                    img.place(src="../img/1_2_круг.svg", alt="")